@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@using BookPlatform.Data.Models
@using BookPlatform.Data.Repository.Interfaces
@using BookPlatform.Core.ViewModels.ReadingList

@model ReadingListAddInputModel

<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-6 col-xs-12 min-vw-50">      
            <form asp-action="AddAsRead" method="post">
                <input type="hidden" asp-for="BookId" value="@Model.BookId" />
                <input type="hidden" asp-for="BookTitle" value="@Model.BookTitle" />
                <input type="hidden" asp-for="ImageUrl" value="@Model.ImageUrl" />
                <input type="hidden" asp-for="ReadingStatus" value="@Model.ReadingStatus" />                
                <div>
                    <label asp-for="@Model.Rating" class="form-label-add-edit">Select Rating</label>
                    <select asp-for="@Model.Rating" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Ratings, "Id", "Description"))">
                        <option value="">Select Rating...</option>
                    </select>
                    <span asp-validation-for="@Model.Rating" class="text-danger"></span>
                </div>
                <div>
                    <label for="DateStarted">Date Started</label>
                    <input asp-for="DateStarted" placeholder="dd-MM-yyyy" class="form-control" />
                    <span asp-validation-for="DateStarted" class="text-danger"></span>
                </div>
                <div>
                    <label for="DateFinished">Date Finished</label>
                    <input asp-for="DateFinished" placeholder="dd-MM-yyyy" class="form-control" />
                    <span asp-validation-for="DateFinished" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="@Model.CharacterId" class="form-label-add-edit">Select Character</label>
                    <select asp-for="@Model.CharacterId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Characters, "Id", "Name"))">
                        <option value="">Select Character...</option>
                    </select>
                    <span asp-validation-for="@Model.CharacterId" class="text-danger"></span>
                </div>
                <div>
                    <label for="Review">Review</label>
                    <input asp-for="Review" class="form-control" />
                    <span asp-validation-for="Review" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Save</button>
            </form>
            
            
        </div>
    </div>
</div>



