@using BookPlatform.Web.ViewModels.Book
@model IEnumerable<BookIndexViewModel>
@{
    ViewData["Title"] = "Browse Books";
}


<h2>Browse All Books</h2>

<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-md-2">
            <div class="card mb-2 shadow-sm" style="width: 200px; height: 425px">                
                <a class="book-title" asp-controller="Book" asp-action="Details" asp-route-bookId="@book.Id" class="card-title">
                    <img src="@book.ImageUrl" class="card-img-top" alt="Cover Image" style="height: 300px; object-fit: cover;">
                </a>
                <div class="card-body">
                    <a class="book-title" asp-controller="Book" asp-action="Details" asp-route-bookId="@book.Id" class="card-title">
                        <h6>@book.Title</h6>
                    </a>
                    <p class="card-text">@book.Author</p>
                </div>
            </div>
        </div>
    }
</div>
